@font-face {
    font-family: "beyonders";
    src: url("./fonts/beyonders-6yojm-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
}

#modal {
    height: 30vh;
    width: 30vh;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#modal-upper-sector {
    display: flex;
    justify-content: center;
    width: 100%;
}

#modal-lower-sector {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header,
.main,
.footer {
    box-sizing: border-box;
}

#header {
    display: flex;
    height: 10vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.title {
    margin-top: 3vh;
    font-size: medium;
    color: black;
    font-family: "beyonders";
    font-size: 35px;
}

#main {
    height: 82vh;
    width: 100%;
    border: 3px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#upper-sector {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#show-player-turn {
    width: 30%;
    height: 60%;
    border: 3px solid purple;

}

#lower-sector {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    height: 90%;
    width: 40%;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-auto-rows: 20vh;
    margin-bottom: 5vh;
}

.square {
    width: 100%;
    height: 100%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "beyonders";
    font-size: 30px;
    color: black;
    box-sizing: border-box;
}

.square:hover {
    background-color: #758d99;
}

#footer {
    font-family: "beyonders";
    font-size: 10px;
    display: flex;
    height: 5vh;
    width: 100%;
    justify-content: center;
    align-items: end;
    overflow: hidden;
}

#logo {
    transition: all 0.3s;
}

#logo:hover {
    transform: scale(1.3) rotate(360deg);
}



#logo {
    height: auto;
    width: 4vh;

}